body {
  margin-top: 2em;
  position: relative;
}
header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: chartreuse;
  z-index: 999;
  height: 2em;
}
img {
  width: 2rem;
  box-sizing: border-box;
}
figure {
  margin: 0;
  margin-left: 1rem;
}
div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item-child {
  display: inline-block;
  margin: 0 0.25rem;
  box-sizing: border-box;
  padding: 0.5rem;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
}
.section-main {
  width: 80%;
  height: 1525px;
  border: solid 0.1rem rgb(129, 129, 129);
  margin: auto;
  margin-top: 1rem;
  position: absolute;
  right: 0;
  left: 0;
  box-sizing: border-box;
}
p {
  position: absolute;
  top: 1em;
  left: 1em;
  right: 1rem;
  font-size: 1rem;
}
